div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	/* background-color: #668284; */
	background-color: #8C1515;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 10px;
	padding-top: 0px;
	font-size: 24px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 10px;
	padding-top: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

.meAuthor { font-weight: 900;}
.oralPresentation { font-style: italic; }

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.left p {
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	font-family: Verdana, serif;
	color: #000000;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

.pubLeft p {
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	font-family: Verdana, serif;
	color: #000000;
}

.pubRight p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

.swLeft p {
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	font-family: Verdana, serif;
	color: #000000;
}

.swRight p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

/* ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-top: -10px;
	padding-left 12px;
	text-indent: 16px;
	font-size: 14px;
	font-family: Garamond, serif;
}

li:before {
	content: "x ";
	color: #8C1515;
} */

ul {
	margin-top: -10px;
}

li {
	list-style-type: square;
	font-family: Garamond, serif;
	font-size: 16px;
}

/* a:hover {
	font-weight: bold;
} */
.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 13%;
	height: 1000px;
	/* background-color: #B9D7D9; */
	background-color: #D2C295;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 85%;
	height: 1000px;
	/* background-color: #F4EBC3; */
	background-color: #DAD7CB;
	margin-bottom: 10px;
}

.pubLeft {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 13%;
	height: 2800px;
	/* background-color: #B9D7D9; */
	background-color: #D2C295;
	margin-bottom: 10px;
}

.pubRight {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 85%;
	height: 2800px;
	/* background-color: #F4EBC3; */
	background-color: #DAD7CB;
	margin-bottom: 10px;
}

.swLeft {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 13%;
	height: 200px;
	/* background-color: #B9D7D9; */
	background-color: #D2C295;
	margin-bottom: 10px;
}

.swRight {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 85%;
	height: 200px;
	/* background-color: #F4EBC3; */
	background-color: #DAD7CB;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	/* background-color: #668284; */
	background-color: #8C1515;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
